
// flat colours
$swarthy-green : #00887A;
$sky-blue: #77A6F7;
$flesh-colour: #FFCCBC;
$whitey: #FFFFFF;

$break-large: 600px;

$carousel-item-height: 300px;

/* coiny-regular - latin */
@font-face {
  font-family: 'Coiny';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/coiny-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Coiny Regular'), local('Coiny-Regular'),
       url('./fonts/coiny-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/coiny-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/coiny-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/coiny-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/coiny-v4-latin-regular.svg#Coiny') format('svg'); /* Legacy iOS */
}


@mixin zero-margin($pad-up-dn, $pad-left-right){
  margin: 0px auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-header {
  @include zero-margin(0px, 0px);
}

.row-content {
  @include zero-margin(50px, 0px);
  // border-bottom: 1px ridge;
  min-height: 400px;
}

body{
  padding:50px 0px 0px 0px;
  z-index:0;
  // background-color: $sky-blue;
}


 @media screen and (min-width: $break-large){
   .collapse.navbar-collapse{
     margin-left: 30px;
     // .nav-item {
     //   margin-left:15px;
     // }
   }

 }




.navbar-dark {
  background-color: $swarthy-green;
}

.footer {
  background-color: $flesh-colour;

  a{
    color: $swarthy-green;
  }

  @include zero-margin(20px, 0px);
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $swarthy-green;
  color:floralwhite;
  font-family:'Coiny';
  img {
    border-radius: 5px;
  }
  .card-header{
    color: $swarthy-green;
    // background-color: $flesh-colour;
  }
}

.splash {
  // font-family: Coiny;
  margin-top:30px;
  margin-bottom:10px;
}


#mycarousel {
  background: $swarthy-green;
  border-radius: 5px;
  .carousel-item {
    height: $carousel-item-height;
    font-family:'Coiny';
    img {
      position: absolute;
      top:0;
      left:0;
      min-height: 300px;
      max-width:300px;
    }
  }
}

#menu-grid {
  .menu-card {
    width: 10rem;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;

    .img {
      height: 30px;
      width: 30px;
      border-top: solid;
    }
    .card-body{
      background-color: $swarthy-green;
      font-family:'Coiny';
      border-bottom-left-radius: 10px;
      border-bottom-right-radius:10px;
      a{
        color: $whitey;
      }
    }
  }

}

@media only screen and (max-width: 600px){
  .menu-card{
    width: 20rem;
    margin-top: 20px;
  }

  .jumbotron{
    margin: 0px;
    padding: 0px;
    .container-fluid {
      margin:0px;
      padding:0px;
      #image {
        padding:0px;
      }
    }
  }


}

// @media only screen and (max-width: 1000px){
//   .row-header {
//     padding-left:300px;
//     padding-right:300px;
//   }
// }
// .tab-content {
//   border-left: 1px solid $lt-gray;
//   border-right: 1px solid $lt-gray;
//   border-bottom: 1px solid $lt-gray;
//   padding: 10px;
// }

#br-browser{
  .row{
    margin-top:30px;
  }
}
